// VARIABLES

$white: #fefefe;
$white2: #fffaf9;
$pink: #ffe3e2;
$pink2: #e01a4f;
$brown: #483c34;
$black: #191818;

$nova-font-family: 'Nova Flat', cursive;
$ubuntu-font-family: 'Ubuntu', sans-serif;
$body-font-color: $black;
$body-font-color-light: lighten($black, 30%);

$medium: 768px;

$transition: all .35s ease-in-out;